[Application]
ConfigVersion=1
CloseToTray=true
StartMinimized=false
StartWithWindows=false
StartHiddenWhenAutoStarted=true
AutoStartScripts=true
ConfirmBeforeDelete=true
EditorPath=%SystemRoot%\System32\notepad.exe
EditorArguments="{file}"
LogLevel=Information
LogRetentionDays=14
LogScriptOutput=false

[Defaults]
WindowMode=Hidden
CaptureOutput=true
AllowParallelInstances=false
StopPolicy=GracefulThenKill
StopTimeoutSeconds=5

[PowerShell]
PowerShell7Path=
